@font-face {
  font-family: "Monterrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}
@media screen and(min-width:768px){
  .section-title h2{
    font-size: 32px;
  }
}
:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Moserrat", sans-serif;
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}

body{
    font-family: "Moserrat", sans-serif;
    color: var(--text-primary-color)
    
}

.section-title h2{

  font-size: 28px;
  font-weight: var(--title-weight);
  margin:0;
  text-align: center;
    
 
}
 .section-title hr{
 width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  margin:16px auto 32px;
}
